.role-selection {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
  margin: 2rem auto 0 auto;
  &__card {
    input {
      display: none;
      &:checked ~ label {
        border-color: $brand-primary;
        .checked {
          opacity: 1;
          margin-left: 0;
          margin-top: 0;
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      background: #fff;
      border-radius: 10px;
      border: 2px solid #fff;
      overflow: hidden;
      margin: 0.65rem 0;
      padding: 2rem 1.5rem;
      @include box-shadow(rgba(86, 103, 146, 0.1) 0 9px 30px 0);
      @include transition(0.3s);
      img {
        width: 65px;
      }
      .checked {
        opacity: 0;
        margin-left: -5px;
        margin-top: -5px;
        position: absolute;
        top: -21px;
        left: -4px;
        background: $brand-primary;
        width: 30px;
        height: 62px;
        transform: rotate(45deg);
        @include transition(0.3s);
        &:after {
          content: '\F2BC';
          font-family: $font-family-ionIcons;
          color: #fff;
          position: absolute;
          font-size: 1.25rem;
          bottom: 20px;
          right: 4px;
          transform: rotate(-45deg);
        }
      }
      &:hover {
        transform: translateX(5px);
        @include box-shadow(rgba(86, 103, 146, 0.2) 0 9px 30px 0);
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 1.5rem;
      span {
        font-family: $font-family-base;
        font-weight: 700;
        font-size: 1.5rem;
        color: $brand-secondary;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      p {
        font-size: 0.9rem;
        font-weight: 500;
        color: $gray;
        line-height: 1.5;
        margin-top: 0.5rem;
        @media screen and (max-width: $screen-sm-max) {
          font-size: 14px;
        }
      }
    }
  }
}

.radio-selection {
  &__card {
    input {
      display: none;
      &:checked ~ label {
        border-color: $brand-primary;
        @include box-shadow(0 0 0 1px rgba(255, 202, 40, 1));
        .checked {
          background: $brand-primary;
          border-color: $brand-primary;
          &:after {
            opacity: 1;
          }
        }
        i {
          color: $brand-primary;
        }
      }
    }
    label {
      display: flex;
      justify-content: center;
      font-size: 0.9rem;
      font-weight: 500;
      position: relative;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid #dedede;
      color: $gray;
      overflow: hidden;
      padding: 1rem;
      @include transition(0.3s);
      img {
        width: 65px;
      }
      div {
        text-align: center;
        i {
          font-size: 2.4rem;
          @include transition(0.3s);
        }
        span {
          display: block;
          margin-top: 0.6rem;
        }
      }
      .checked {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        border-radius: 50%;
        top: 10px;
        right: 10px;
        background: transparent;
        width: 20px;
        height: 20px;
        border: 1px solid #dedede;
        @include transition(0.3s);
        &:after {
          content: '\F2BC';
          font-family: $font-family-ionIcons;
          color: #fff;
          opacity: 0;
          font-size: 0.75rem;
        }
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 1.5rem;
      span {
        font-family: $font-family-base;
        font-weight: 700;
        font-size: 1.5rem;
        color: $brand-secondary;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      p {
        font-size: 0.9rem;
        font-weight: 500;
        color: $gray;
        line-height: 1.5;
        margin-top: 0.5rem;
      }
    }
    @media screen and (max-width: $screen-sm-max) {
      margin-bottom: 1rem;
    }
  }
}

.specifications {
  &__checkbox {
    input[type="checkbox"] {
      display: none;
      &:checked ~ label {
        .checked {
          border-color: $brand-primary;
          background: $brand-primary;
          &:after {
            opacity: 1;
          }
        }
      }
    }
    label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border: 1px solid #dedede;
      border-radius: 5px;
      height: 46px;
      cursor: pointer;
      padding: 0 1rem 0 calc(1rem + 45px);
      margin: 0.5rem 0 1rem 0;
      @include transition(0.3s);
    }
    .checked {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      top: 0;
      bottom: 0;
      left: 1rem;
      background: transparent;
      width: 25px;
      height: 25px;
      border: 1px solid #dedede;
      margin: auto;
      @include transition(0.3s);
      &:after {
        content: '\F2BC';
        font-family: $font-family-ionIcons;
        color: #fff;
        opacity: 0;
        font-size: 0.85rem;
        @include transition(0.3s);
      }
    }
    &__name {
      font-family: $font-family-serif;
      font-size: 0.8rem;
      font-weight: 600;
      color: $gray;
      text-transform: uppercase;
    }
  }
  &__field {
    height: 100%;
    align-items: center;
    display: flex;
    input {
      font-weight: 500;
      font-size: 0.9rem;
      text-align: left;
      padding-left: 5px;
      width: 50px;
      height: 70%;
      border: 1px solid #dedede;
      margin-right: 5px;
      margin-top: 0;
      border-radius: 3px;
      &:disabled {
        background-color: whitesmoke;
        border-color: transparent;
      }
    }
    span {
      font-family: $font-family-serif;
      font-size: 0.9rem;
      font-weight: 500;
      color: $gray-dark;
    }
  }
}

.thank-you {
  text-align: center;
  &__icon {
    width: 90px;
  }
  &__title {
    font-family: $font-family-base;
    font-size: 1.9rem;
    font-weight: 700;
    color: $brand-secondary;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 1.5rem;
  }
  &__subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: $gray;
    line-height: 1.5;
    margin-top: 0.7rem;
  }
}
